{% comment %}
  App compatibility hooks that apps can target
{% endcomment %}

<div style="display: none;">
  <!-- ReCharge hooks -->
  <div id="rc_container"></div>
  <div class="product__selling-plans"></div>
  <div class="product-form__input product-form__quantity"></div>
  
  <!-- Bold hooks -->
  <div class="product-form__controls-group product-form__controls-group--submit"></div>
  <div class="bold_options"></div>
  <div id="shopify-section-product-template"></div>
  
  <!-- General OS 2.0 hooks -->
  <div class="product-form__buttons"></div>
  <div class="product__description"></div>
  <div class="product__accordion accordion"></div>
  
  <!-- Common app hook classes -->
  <div class="product-recommendations"></div>
  <div class="customer-reviews"></div>
  <div class="product-form__error-message-wrapper"></div>
  <div class="social-sharing"></div>
</div>