<section class="section footer">
    <div class="w-layout-blockcontainer container-3 w-container">
      <p class="paragraph-3">{{ 'tn1a9985d1' | t }}<a href="http://champkid.design" target="_blank" class="link">{{ 'tn3332d9b' | t }}</a>
      </p><img src="{{ 'sippy.svg' | asset_url }}" loading="lazy" alt="" class="sippy">
    </div>
  </section>